services:
  db:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - ./db.env
    ports:
      - "5432:5432"
    volumes:
      - ./infra/init:/docker-entrypoint-initdb.d
      # - ./data_persistent:/var/lib/postgresql/data
    restart: always
